package $packagename;

import java.awt.Container;

import org.apache.log4j.Logger;

import com.iver.cit.gvsig.fmap.layers.FLyrVect;
import com.jeta.forms.components.panel.FormPanel;

#if $sqlite
import es.udc.cartolab.gvsig.arqueoponte.forms.utils.SQLAbstractNavTable;
#else
import es.udc.cartolab.gvsig.navtableforms.AbstractForm;
#end if
import es.udc.cartolab.gvsig.navtableforms.validation.FormBinding;
import es.udc.cartolab.gvsig.navtableforms.validation.FormModel;
import ${pkgnamevalidation}.${classbinding};
import ${pkgnamevalidation}.${classmodel};

#if $sqlite
public class $classform extends SQLAbstractNavTable {
#else
public class $classform extends AbstractForm {
#end if

	public ${classform}(FLyrVect layer){
		super(layer);
		viewInfo.setHeight(350);
		viewInfo.setWidth(450);
		viewInfo.setTitle("Example 1");
    }

    @Override
    public FormBinding getFormBinding(FormModel model) {
		return new ${classbinding}(model);
    }

    @Override
    public FormModel getFormModel(Container c) {
		return new ${classmodel}(c);
    }

    @Override
    public Logger getLoggerName() {
		return Logger.getLogger("${classform}");
    }

    @Override
    public FormPanel getFormBody() {
		return new FormPanel("${formname}");
    }

    @Override
    protected void fillSpecificValues() {}

}
