<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="org.gvsig.vectorediting.app.mainplugin"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<depends plugin-name="es.icarto.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.navtableforms.MockExtension" active="false" />
	</extensions>
</plugin-config>
