<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.navtableformsexample.Example1Extension" description="FORMS_PANEL" active="true">
			<tool-bar name="NTForms Example1">
				<action-tool icon="example1-ntforms" tooltip="Example1 NavTableForms"
					action-command="NTFormsExample1" position="50"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
